{% extends "layout.html" %}

{% block title %}
    Sell stock
{% endblock %}

{% block main %}
    <h1>Sell shares</h1>
    <form action="/sell" method="post">
        <div class="form-group">
            <select autofocus class="form-control" name="symbol" placeholder="Symbol">
                <option disabled selected value>Symbol</option>
                {% for rec in symbols %}
                <option value='{{rec["symbol"]}}'>{{rec["symbol"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
